:root {
    --color-primary: #4169E1;
    --color-secondary: #25B5D3;
    --color-tertiary: #979B99;
    --color-light: #FFF9FB;
    --color-dark: #5d615f;
}

body {
    background-color: var(--color-dark);
    color: black;
}

.top-banner {
    background-color: var(--color-dark);
}

.middle-column {
    background-color: var(--color-primary);
}

.right-column {
    background-color: var(--color-tertiary);
}

.current-weather {
    color: black;
}

.uv-green {
    background-color: green;
}

.uv-yellow {
    background-color: yellow;
}

.uv-orange {
    background-color: orange;
}

.uv-red {
    background-color: red;
}

.uv-violet {
    background-color: violet;
}

.uv {
    padding: 1px;
    border-radius: 5px;
}

.five-day-weather {
    color: black;
}

.five-day-single-day {
    background-color: var(--color-secondary);
}

.weather-icon {
    max-width: 100px;
    max-height: 100px
}

.list-group-item {
    background-color: var(--color-secondary);
    color: black;
}

.list-group-item:hover {
    background-color: var(--color-primary);
}



